unit = 10em
earth-to-moon-distance = 384400
earth-diameter = 12742
moon-diameter = 3475

precise-zoom = 0.001

earth-factor-size = (earth-diameter / earth-to-moon-distance / precise-zoom)
moon-factor-size = (moon-diameter / earth-to-moon-distance / precise-zoom)

scale-unit = unit(earth-factor-size, 'em')
moon-scale-factor = (moon-factor-size / earth-factor-size)

planet-size(value)
	min-value = 0.01em
	if value < min-value
		min-value
	else
		value

planets = {
	earth: planet-size(unit / 31),
	moon: planet-size(unit / 144)
}

body, html
	width: 100%
	height: 100%
	margin: 0
	padding: 0
	color: white
	background-color: black
	font-size: 16px
	font-family: sans-serif

body
	overflow: hidden

page-margins = 24px

#page
	margin: page-margins

#description
	h1
		font-size: 24px
		font-weight: normal

	p
		margin: 0 0 0.5em

	a.facebook
		color: white

#distance
	position absolute
	left: page-margins
	right: page-margins
	top: 50%
	font-size: 100vw

planet()
	position: absolute
	top: 50%
	margin-top: -(scale-unit/2)
	width: scale-unit
	height: scale-unit
	border-radius: scale-unit

#earth
	planet()
	left: 0
	background-color: blue
	transform: scale(precise-zoom)
	-ms-transform: scale(precise-zoom)
	transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;

#moon
	planet()
	right: 0
	background-color: lightyellow
	transform: scale(moon-scale-factor * precise-zoom)
	-ms-transform: scale(moon-scale-factor * precise-zoom)
	transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;

#track
	position: absolute
	top: 50%
	left: scale-unit * precise-zoom
	right: scale-unit * moon-scale-factor * precise-zoom
	height: 1px
	background-color: green

	#progress
		display: inline-block
		width: (2390/390000*100)%
		height: 1px
		background-color: red
		vertical-align: top
		font-size: 11pt
		float: left
	#progress-label
		display:inline
		position: relative
		top: 16px;
		vertical-align: top
		font-size: 11pt
		padding-top: 12px;
		padding-left: 5px;
		border-left: 1px solid white
		float: left
