doctype html
html
	head
		meta(charset='UTF-8')
		title От Земли до Луны
		link(rel='stylesheet', href='/index.css')

	body
		#page
			#description
				h1 Ростов бежит до Луны
				p Клуб любителей бега <a class="facebook" href="https://www.facebook.com/groups/runrostov">«Беги, Ростов, Беги»</a> бежит до Луны.
				p Каждый километр, который мы пробежали, проплыти или проехали на велосипеде, делает нас чуть ближе к цели.
			include d.jade
			#distance
				#earth
				#track
					#progress
					#progress-label.
						Мы уже вот тут.<br>
						Пробежали #{passed} километров<br>
						и #{left} осталось.

				#moon
