doctype html
html
	head
		meta(charset='UTF-8')
		title От Земли до Луны
		link(rel='stylesheet', href='/index.css')

	body
		#page
			h1 Ростов бежит до Луны
			#distance
				#earth
				#track
					#progress
					span мы вот тут
				#moon