- var runned = 2345

doctype html
html
	head
		meta(charset='UTF-8')
		title От Земли до Луны
		link(rel='stylesheet', href='/index.css')

	body
		#page
			h1 Ростов бежит до Луны
			p.
				Клуб любителей бега Беги, Ростов, Беги
			include d.jade
			#distance
				#earth
				#track
					#progress
					#progress-label.
						Мы уже вот тут. #{x}<br>
						Пробежали #{runned} километров<br>
						и ВВВ осталось.

				#moon
